@import "../../helpers";
.quizScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s linear;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include breakpoint("mobile") {
    position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
}
